# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=ecommerce_db
DB_USERNAME=postgres
DB_PASSWORD=postgres

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:9092

# JWT
JWT_SECRET=mySecretKeyForJwtTokenGenerationThatIsLongEnoughForHS256Algorithm2024
JWT_EXPIRATION=86400000

# Frontend
VITE_API_URL=http://localhost:8080/api
